@use "../../../lib/breakpoints" as b;

.card-event {
  display: flex;
  width: 100%;
  margin-bottom: 8px;

  @media (min-width: b.$sm) {
    flex-direction: column;
  }

  a {
    width: 100%;
    display: flex;

    @media (min-width: b.$sm) {
      flex-direction: column;
    }
  }
  .media {
    background: black;
    width: 80px;
    margin-right: 16px;

    @media (min-width: b.$sm) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 16px;
    }

    .aspect-ratio {
      height: 0;
      position: relative;
      padding-bottom: 100%;

      @media (min-width: b.$sm) {
        padding-bottom: 66.6%;
      }
    }
  }
  .header {
    margin-bottom: 16px;
    .title {
      margin-bottom: 8px;
    }
    .date {
      font-size: 18px;
    }
  }
  .tags {
    display: none;

    @media (min-width: b.$sm) {
      display: block;
    }
  }
}
