.event-content {
  padding: 60px 0 120px;

  .sidebar {
    position: relative;
  }
  .sidebar_content {
    position: sticky;
    top: 120px;
    line-height: 140%;
    margin-bottom: 40px;
    .location {
      margin-bottom: 8px;
    }
  }
  .description {
    line-height: 140%;
  }
}
.event-related_grid {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;
  margin: 0 -8px 32px;
}
