.search-grid {
  padding: 60px 0 120px;
  background-color: #fefefe;

  &_options {
    margin-bottom: 16px;
  }

  &_count {
    font-size: 18px;
  }

  &_inner {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: stretch;
    margin: 0 -8px 32px;
  }

  &_more {
    .remaining {
      font-size: 16px;
      margin-bottom: 8px;
    }
  }
}
