@use "../../lib/color" as c;

.g-header {
  &_wrapper {
    position: relative;
  }
  &_menu {
    display: flex;
    background-color: c.$yellow;
    padding: 24px 0 0;
    z-index: 999;

    .menu-items {
      display: flex;
      flex-wrap: wrap;

      .menu-item {
        margin-bottom: 8px;
        margin-left: 8px;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          color: c.$black;
          font-size: 18px;
        }
      }
    }
  }
}
